<mat-toolbar color="primary">
  <mat-toolbar-row class="space-x-5">
    <img src="../../../assets/logo.png" width="40" height="40" priority />
    <a mat-button [routerLink]="'/builds'"> Builds </a>
    <a mat-button [routerLink]="'/items'"> Items </a>
    <a mat-button [routerLink]="'/heros'"> Heros </a>
    <a mat-button [routerLink]="'/statistics'"> Statistics </a>
    <a mat-button [routerLink]="'/leaderboard'"> Leaderboard </a>
    <span class="spacer"></span>
    <a mat-button [routerLink]="'auth/login'"> Login </a>
    <a mat-button [routerLink]="'auth/register'"> Create Account </a>
  </mat-toolbar-row>
</mat-toolbar>
